html, body {height: 100%;}

body {
 margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #fff;
	background-color:#ffffff;
}

a:link, a:visited {
	color: black;
	text-decoration: none;
}
a:hover {
	color: rgb(180, 180, 180);
	text-decoration: none;


}
img {
  width: 100%;
}
a.current {color: red;}

h1 {
	font-size: 2em;
	line-height: 1em;
	font-weight: 700;
	color: #000;
  position: absolute;
  margin-left: 50%;
  margin-top: 50%;
  transform: translate(-5%, -5%);

}

h2 {
	font-size: 2em;
	line-height: 1em;
	font-weight: 400;
	color: #000;
}

.text-black {color: black; }

.menu {text-decoration: none;
  color: rgb(90,90,90);
  transition:0.25s all;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 1.5em;
  padding: 100% 3% 2% 3%;
  margin-left: 230px;
  margin-top: 50px;
  top: 30px;
  z-index: 100;

}


.menu:hover {color: rgb(180,180,180);
  font-size: 1.4em;
}

h5 { font-size: 100%;
font-family:sans-serif;
}

#barra {
  background-color: white;
   width:1000vh;
  height: 10vh;
  position: sticky;
  top: 0%;
  margin-top: 50px;
  z-index: 100;
transform: translate(2%, -150%);
}

.barra {
  background-color: white;
   width:220vh;
  height: 3vh;

  top: 0%;
transform: translate(2%, 60%);
  z-index: 100;
}

.text-black {color: black; }

.menu1 {
	position: absolute;
	top: 100px;
	width: 100%;
	height: 60px;
	background-color: white;
	z-index: 100;
  margin-top: 70px;
  font-size: 1,2em;
}

.titolo { font-family: 'Montserrat', sans-serif;
font-size: 1.2em;
color: rgb(90, 90, 90);
top: 0%;
left: 0%;
transform: translate(2%, -130%);
  z-index: 10;
}



nav {
	margin: 20px 0 0 0;
}
.navigation {
	list-style: none;
	text-align: center;
	margin: 0;
}
.navigation li{
	display: inline-block;
	padding: 0 25px 0 0;
}

.slide{
	width:100%;
	position: relative;
	padding: 150px 150px;
	text-align: center;
}


#slide1 {
 height: 100%;
	background-image: url('https://i.pinimg.com/originals/e3/a1/17/e3a11796b6e83537495911161101415d.jpg');
	background-color:#fff;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
  height: 180vh;

}
#slide2 {
 height: 10px;
width: 100%;
}

#slide3 {
	background-image:url('https://i.pinimg.com/originals/b6/e6/c7/b6e6c7106b2657d8e4693b06f5f55581.jpg');
	background-color:#000;
  color: white;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
  background-attachment: fixed;
  height: 180vh;
}

#slide4 {
 height: 15px;
width: 100%;
}


#slide5 {
	background-image: url('https://i.pinimg.com/originals/68/db/63/68db6386697bd1e8d2e1a6f0779ca17f.jpg');
	background-color:#fff;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
  z-index: 10;
  height: 250vh;
}

#slide6 {
 height: 15px;
width: 100%;
}

#slide7 {
	background-image: url('https://i.pinimg.com/originals/8d/b3/c3/8db3c3dcd3a762b496574dfea8f02345.jpg');
	background-color:#fff;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
  z-index: 10;
  height: 250vh;
}

#slide8 {
 height: 15px;
width: 100%;
}


#slide9 {
	background-image: url('https://i.pinimg.com/originals/67/80/15/67801520a5b72e374461bbc32d413fda.jpg');
	background-color:#fff;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
  z-index: 10;
  height: 250vh;
}

#slide10 {
 height: 15px;
width: 100%;
}


#slide11 {
	background-image: url('https://i.pinimg.com/originals/28/73/f1/2873f1cab10daa4cb24edff997dc408f.jpg');
	background-color:#fff;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
  z-index: 10;
  height: 250vh;
}

.foot {
	top: 1600vh;
	text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  padding: 5%;
  color:rgb(90, 90, 90);
  background-color:rgb(255,255,255);
  z-index: 100;
}
foot:hover {
  color:rgb(180, 180, 180);
}
