html, body {height: 100%;}

body {
 margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #fff;
	background-color:#ffffff;
}

a:link, a:visited {
	color: black;
	text-decoration: none;
}
a:hover {
	color: rgb(180, 180, 180);
	text-decoration: none;


}
img {
  width: 100%;
}
a.current {color: red;}

h1 {
	font-size: 2em;
	line-height: 1em;
	font-weight: 700;
	color: #fff;
  position: absolute;
  margin-left: 50%;
  margin-top: 50%;
}

h2 {
	font-size: 2em;
	line-height: 1em;
	font-weight: 400;
	color: #000;
}

.text-black {color: black; }

.menu {text-decoration: none;
  color: rgb(90,90,90);
  transition:0.25s all;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 1.5em;
  padding: 100% 3% 2% 3%;
  margin-left: 230px;
  margin-top: 50px;
  top: 30px;
  z-index: 100;

}


.menu:hover {color: rgb(180,180,180);
  font-size: 1.4em;
}

h5 { font-size: 100%;
font-family:sans-serif;
}

#barra {
  background-color: white;
   width:1000vh;
  height: 10vh;
  position: sticky;
  top: 0%;
  margin-top: 50px;
  z-index: 100;
transform: translate(2%, -150%);
}

.barra {
  background-color: white;
   width:220vh;
  height: 3vh;

  top: 0%;
transform: translate(2%, 60%);
  z-index: 100;
}

.text-black {color: black; }

.menu1 {
	position: absolute;
	top: 100px;
	width: 100%;
	height: 60px;
	background-color: white;
	z-index: 100;
  margin-top: 70px;
  font-size: 1,2em;
}

.titolo { font-family: 'Montserrat', sans-serif;
font-size: 1.2em;
color: rgb(90, 90, 90);
top: 0%;
left: 0%;
transform: translate(2%, -130%);
  z-index: 10;
}

#frec {
  font-size: 2em;
  color: rgb(90, 90, 90);
}

nav {
	margin: 20px 0 0 0;
}
.navigation {
	list-style: none;
	text-align: center;
	margin: 0;
}
.navigation li{
	display: inline-block;
	padding: 0 25px 0 0;
}

.slide{
	width:100%;
	position: relative;
	padding: 150px 150px;
	text-align: center;
}


#slide1 {
 height: 100%;
	background-image: url('https://i.pinimg.com/originals/21/9a/96/219a96169b86a223aebc9acdeba2ee81.jpg');
	background-color:#fff;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
  height: 180vh;

}
#slide2 {
 height: 10px;
width: 100%;
}

#slide3 {
	background-image:url('https://i.pinimg.com/originals/df/55/cb/df55cb382ca635ed8f55e4474f2ea596.jpg');
	background-color:#000;
  color: white;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
  background-attachment: fixed;
  height: 180vh;
}

#slide4 {
 height: 15px;
width: 100%;
}


#slide5 {
	background-image: url('https://i.pinimg.com/originals/6c/55/17/6c551761a2067bd02dbf95dc815e9405.jpg');
	background-color:#fff;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
  z-index: 10;
  height: 250vh;
}

#slide6 {
 height: 15px;
width: 100%;
}

#slide7 {
	background-image: url('https://i.pinimg.com/originals/42/19/b4/4219b48d175551489e53ba660ecfff21.jpg');
	background-color:#fff;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
  z-index: 10;
  height: 250vh;
}

#slide8 {
 height: 15px;
width: 100%;
}


#slide9 {
	background-image: url('https://i.pinimg.com/originals/1d/ce/d1/1dced1e2cc092201dea58ee1593d1aad.jpg');
	background-color:#fff;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
  z-index: 10;
  height: 250vh;
}

#slide10 {
 height: 15px;
width: 100%;
}


#slide11 {
	background-image: url('https://i.pinimg.com/originals/64/61/64/6461645d20b24d068b1754acf027b017.jpg');
	background-color:#fff;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
  z-index: 10;
  height: 250vh;
}

#slide12 {
 height: 15px;
width: 100%;
}

#slide13 {
	background-image: url('https://i.pinimg.com/originals/bd/ad/1b/bdad1bd1235e5b62d5444a0054c2cb3f.jpg');
	background-color:#fff;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
  z-index: 10;
  height: 250vh;
}

#slide14 {
 height: 15px;
width: 100%;
}

#slide15 {
	background-image: url('https://i.pinimg.com/originals/c6/d6/fe/c6d6fe4b5b7344c57ff8948738742d1e.jpg');
	background-color:#fff;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
  z-index: 10;
  height: 250vh;
}

#slide16 {
 height: 15px;
width: 100%;
}


#slide17 {
	background-image: url('https://i.pinimg.com/originals/65/73/8d/65738d26dd4a9476523234d805a1238d.jpg');
	background-color:#fff;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
  z-index: 10;
  height: 250vh;
}

#slide18 {
 height: 15px;
width: 100%;
}

#slide19 {
	background-image: url('https://i.pinimg.com/originals/8c/bb/fb/8cbbfbde9a571c0537d5b34d2798bdaf.jpg');
	background-color:#fff;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
  z-index: 10;
  height: 250vh;
}

#slide20 {
 height: 15px;
width: 100%;
}

#slide21 {
	background-image: url('https://i.pinimg.com/originals/73/39/53/7339535c0c0af7700b0666a1409bb791.jpg');
	background-color:#fff;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
  z-index: 10;
  height: 250vh;
}

#slide22 {
 height: 15px;
width: 100%;
}

#slide23 {
	background-image: url('https://i.pinimg.com/originals/06/4e/a1/064ea1e2066bb41e0834f9f573b0d20a.jpg');
	background-color:#fff;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
  z-index: 10;
  height: 250vh;
}

#slide24 {
 height: 15px;
width: 100%;
}

#slide25 {
	background-image: url('https://i.pinimg.com/originals/27/e9/30/27e930044ec092f53c655fc0e4103755.jpg');
	background-color:#fff;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
  z-index: 10;
  height: 250vh;
}

#slide26 {
 height: 15px;
width: 100%;
}

#slide27 {
	background-image: url('https://i.pinimg.com/originals/8c/bb/fb/8cbbfbde9a571c0537d5b34d2798bdaf.jpg');
	background-color:#fff;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
  z-index: 10;
  height: 250vh;
}

.foot {
	top: 1600vh;
	text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  padding: 5%;
  color:rgb(90, 90, 90);
  background-color:rgb(255,255,255);
  z-index: 100;
}
foot:hover {
  color:rgb(180, 180, 180);
}
